NEXT_PUBLIC_HYGRAPH_ENDPOINT=https://YOUR_REGION.cdn.hygraph.com/content/YOUR_PROJECT_ID/master
HYGRAPH_MUTATION_TOKEN=your_permanent_auth_token_here
HYGRAPH_MANAGEMENT_TOKEN=your_management_token_here
